*{
   margin: 0;
   padding: 0;
}
body{
    font-family: sans-serif;
    background-color: #f0f0f0;
}

/* .banner{
    background-color: #f1e9e9;
    color:#446456 ;
    padding:20px ;
}
.title{
    font-size: 28px;
    font-weight: 500;
    margin: 0;
}
.slogan{
      font-size: 18px;
}
.dark{
    background-color: #333333;
    color: #ffff;
} */

.container{
    max-width: 500px;
    background-color: #fff;
    margin: 0 auto;
    padding:20px;
    border:1px solid #ccc;
    border-radius: 5px;
}
h1{
    text-align:center;
    font-weight: 500;
    font-size: 18px;
    color: rgb(177, 12, 12);
    text-transform: uppercase;
}
h2{
    font-size: 16px;
    font-weight: 500;
    color: chocolate;
    margin-bottom: 10px;
}
lable,
input{
   display:block;
   margin-bottom: 5px;
  
}
button{
     padding: 3px 6px ;
}
#output{
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}

#dataList{
    list-style-type:none;

}
#dataList li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}